/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Background */
body {
  min-height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
.main-header {
  font-size: 28px;
  font-weight: 600;
  margin: 30px 0;
}

/* Layout */
.main-container {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
}

/* Glass Card */
.glass-card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.3);
}

/* Titles */
.glass-card h2 {
  margin-bottom: 15px;
  font-weight: 500;
}

/* Search Box */
.search-box {
  display: flex;
  gap: 10px;
}

/* Inputs */
input {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
}

/* Buttons */
button {
  padding: 12px 16px;
  border-radius: 10px;
  border: none;
  background: #4facfe;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: translateY(-2px);
  background: #00c6ff;
}

/* Country Result */
.country-result {
  text-align: center;
  margin-top: 20px;
}

#flag {
  width: 120px;
  margin: 10px 0;
  border-radius: 8px;
}

/* Dropdown */
.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

/* Select */
select {
  padding: 8px;
  border-radius: 8px;
}

/* Converter Result */
.result-box {
  text-align: center;
  margin-top: 15px;
}

.result-value {
  font-size: 22px;
  color: #00ffcc;
}

/* Theme Button */
#colorBtn {
  margin-top: 10px;
  background: #222;
}
/* GLOBAL LOADER */
.global-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #3b82f6, #06b6d4);
  animation: loadingBar 1s infinite;
  z-index: 999;
}

.hidden {
  display: none;
}

@keyframes loadingBar {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

/* SKELETON LOADER */
.skeleton {
  width: 100%;
  height: 100px;
  border-radius: 12px;
  background: linear-gradient(
    90deg,
    rgba(255,255,255,0.05) 25%,
    rgba(255,255,255,0.15) 50%,
    rgba(255,255,255,0.05) 75%
  );
  background-size: 200% 100%;
  animation: skeletonLoad 1.5s infinite;
  margin-top: 15px;
}

@keyframes skeletonLoad {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}